<f:be.pageRenderer includeJavaScriptModules="{0: '@xima/recordlist/recordlist-filter-daterange.js'}" />

<f:if condition="{colConfig}">
    <f:variable name="fieldName" value="filter[{colConfig.columnName}][value]"></f:variable>
    <f:variable name="fieldValue" value="{colConfig.filter.value}"></f:variable>
    <f:variable name="fieldValueEnd" value="{colConfig.filter.valueEnd}"></f:variable>
    <f:variable name="fieldExpr" value="{colConfig.filter.expr}"></f:variable>
    <f:variable name="label" value="{colConfig.label}"></f:variable>
    <f:form.hidden name="filter[{colConfig.columnName}][dataType]" value="date" />
</f:if>

<div class="row">
    <div class="col">
        <label for="daterange-{colConfig.columnName}-visible" class="form-label">{label}</label>

        <div
            class="xima-recordlist-daterange"
            data-recordlist-daterange
            data-expr-name="filter[{colConfig.columnName}][expr]"
            data-initial-expr="{fieldExpr}"
            data-preset-last7days="{f:translate(key: 'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:filter.date.preset.last7days')}"
            data-preset-last30days="{f:translate(key: 'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:filter.date.preset.last30days')}"
            data-preset-thismonth="{f:translate(key: 'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:filter.date.preset.thisMonth')}"
            data-preset-lastmonth="{f:translate(key: 'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:filter.date.preset.lastMonth')}"
        >
            <div class="input-group">
                <button
                    type="button"
                    class="btn btn-default"
                    data-daterange-trigger
                    aria-label="{f:translate(key: 'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:filter.date.open')}">
                    <core:icon identifier="actions-calendar" />
                </button>
                <input
                    type="text"
                    id="daterange-{colConfig.columnName}"
                    class="form-control form-control-clearable input"
                    autocomplete="off"
                    data-daterange-display />
            </div>

            <f:if condition="{colConfig}">
                <div class="xima-recordlist-daterange-expr" data-daterange-expr>
                    <f:render partial="Filter/TypesSelection" arguments="{colConfig: colConfig, options: {0: 'lt', 1: 'gt', 2: 'eq', 3: 'neq', 4: 'between'}, defaultExpr: 'between'}" />
                </div>
            </f:if>

            <input
                type="hidden"
                data-daterange-start
                name="filter[{colConfig.columnName}][value]"
                value="{f:if(condition: fieldValue, then: '{f:format.date(format:\'Y-m-d\', date: fieldValue)}')}" />
            <input
                type="hidden"
                data-daterange-end
                name="filter[{colConfig.columnName}][valueEnd]"
                value="{f:if(condition: fieldValueEnd, then: '{f:format.date(format:\'Y-m-d\', date: fieldValueEnd)}')}" />
        </div>
    </div>
</div>
