<label class="form-label" for="filter[{colConfig.columnName}][value]">
    {colConfig.label}
</label>
<div class="input-group">
    <label for="filter[{colConfig.columnName}][value]" class="visually-hidden">
        {colConfig.label}
    </label>
    <f:form.textfield
        name="filter[{colConfig.columnName}][value]"
        class="form-control"
        type="search"
        placeholder="{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.label.searchField')}"
        title="{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.label.searchField')}"
        id="filter[{colConfig.columnName}][value]"
        value="{colConfig.filter.value}" />
    <button class="btn btn-default" type="submit" name="search">
        {f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:filter.label.search')}
    </button>
</div>
