<f:variable name="exprKeyPrefix" value="{f:if(condition: exprKeyPrefix, then: exprKeyPrefix, else: 'filter.expr.')}" />

<label for="filter[{colConfig.columnName}][expr]" class="form-label">
    {f:translate(key: 'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:filter.expr.label')}
</label>
<f:form.select
    value="{f:if(condition: colConfig.filter.expr, then: colConfig.filter.expr, else: defaultExpr)}"
    class="form-select"
    name="filter[{colConfig.columnName}][expr]">
    <f:for each="{options}" as="option">
        <f:form.select.option
            value="{option}"
            label="{f:translate(key: 'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:{exprKeyPrefix}{option}')}" />
    </f:for>
</f:form.select>
