parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Authentication\\\\BackendUserAuthentication\\:\\:workspacePublishAccess\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Call to static method isDeeplApiKeySet\\(\\) on an unknown class WebVision\\\\Deepltranslate\\\\Core\\\\Utility\\\\DeeplBackendUtility\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Offset 0 does not exist on array\\<string, array\\<int\\|string, mixed\\>\\>\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Property Xima\\\\XimaTypo3Recordlist\\\\Controller\\\\AbstractBackendController\\:\\:\\$records \\(array\\<string, array\\<int\\|string, mixed\\>\\>\\) does not accept array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Property Xima\\\\XimaTypo3Recordlist\\\\Controller\\\\AbstractBackendController\\:\\:\\$records \\(array\\<string, array\\<int\\|string, mixed\\>\\>\\) does not accept array\\<int\\<0, max\\>, mixed\\>\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 'all'\\|numeric\\-string and int will always evaluate to false\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^There is no request attribute \"route\" configured so we can't figure out the exact type to return when calling Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\:\\:getAttribute$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Variable \\$requestedLanguage in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Authentication\\\\BackendUserAuthentication\\:\\:workspacePublishAccess\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceStorage\\. Use \\-\\> instead\\.$#"
			count: 2
			path: Classes/Controller/AjaxController.php

		-
			message: "#^Variable \\$file might not be defined\\.$#"
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: "#^Variable \\$storage might not be defined\\.$#"
			count: 1
			path: Classes/Controller/AjaxController.php
