parameters:
	ignoreErrors:
		-
			message: '#^Call to static method isDeeplApiKeySet\(\) on an unknown class WebVision\\Deepltranslate\\Core\\Utility\\DeeplBackendUtility\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Instanceof between Doctrine\\DBAL\\Result and Doctrine\\DBAL\\Result will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Offset 0 does not exist on array\<string, array\<int\|string, mixed\>\>\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Property Xima\\XimaTypo3Recordlist\\Controller\\AbstractBackendController\:\:\$records \(array\<string, array\<int\|string, mixed\>\>\) does not accept list\<array\<mixed\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Property Xima\\XimaTypo3Recordlist\\Controller\\AbstractBackendController\:\:\$records \(array\<string, array\<int\|string, mixed\>\>\) does not accept list\<array\<string, mixed\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Strict comparison using \=\=\= between ''all''\|numeric\-string and int will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Variable \$requestedLanguage in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: Classes/Controller/AbstractBackendController.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type TYPO3\\CMS\\Core\\Resource\\ResourceStorage\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: Classes/Controller/AjaxController.php

		-
			message: '#^Variable \$file might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: '#^Variable \$storage might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Classes/Controller/AjaxController.php
