{namespace xm=Xima\XimaTypo3Recordlist\ViewHelpers}

<f:if condition="{item.editable}">
    <f:then>
        <xm:link.editRecord
            returnUrl="{f:be.uri(route: moduleName)}" table="{table}" uid="{item.uid}" workspaceId="{workspaceId}">
            <span class="workspace-state-{item.state}">
                <f:format.date format="d.m.Y">{item.{colConfig.columnName}}</f:format.date>
            </span>
        </xm:link.editRecord>
    </f:then>
    <f:else>
        <span class="workspace-state-{item.state}">
            <f:format.date format="d.m.Y">{item.{colConfig.columnName}}</f:format.date>
        </span>
    </f:else>
</f:if>
