<html
    data-namespace-typo3-fluid="true"
    xmlns:xm="http://typo3.org/ns/Xima/XimaTypo3Recordlist/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:be.pageRenderer includeJavaScriptModules="{0: '@xima/recordlist/recordlist-col-group.js'}" />

<span class="badge-container group-badge-container">
    <f:if condition="{item._{colConfig.columnName}}">
        <f:for each="{item._{colConfig.columnName}}" as="fieldValues" key="tableName">
            <f:for each="{fieldValues}" as="fieldValue">
                <f:if condition="{item.editable}">
                    <f:then>
                        <f:variable name="combinedValue" value="{tableName}_{fieldValue.value}" />
                        <a
                            href="#"
                            title="{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.edit')}"
                            data-table="{tableName}"
                            data-uid="{fieldValue.value}"
                            class="badge badge-pill group-badge {f:if(condition: '{colConfig.filter.value} == {combinedValue}', then: ' badge-primary')}"
                            data-workspaceId="{workspaceId}"
                            data-field-name="{colConfig.columnName}">
                            <f:if condition="{colConfig.filter.tables.{tableName}.iconIdentifier}">
                                <core:icon identifier="{colConfig.filter.tables.{tableName}.iconIdentifier}" size="small" />
                            </f:if>
                            {fieldValue.label->f:format.crop(maxCharacters: 20)}
                        </a>
                    </f:then>
                    <f:else>
                        {fieldValue.label}
                    </f:else>
                </f:if>
            </f:for>
        </f:for>
    </f:if>
</span>
</html>
