{namespace xm=Xima\XimaTypo3Recordlist\ViewHelpers}

<f:variable name="fieldValue">{item.{colConfig.columnName}}</f:variable>
<f:if condition="{colConfig.filter.items.{fieldValue}.label}">
    <f:variable name="fieldValue">{colConfig.filter.items.{fieldValue}.label}</f:variable>
</f:if>

<f:if condition="{item.editable}">
    <f:then>
        <xm:link.editRecord
            returnUrl="{f:be.uri(route: moduleName)}" table="{table}" uid="{item.uid}" workspaceId="{workspaceId}">
            <span class="workspace-state-{item.state}">{fieldValue}</span>
        </xm:link.editRecord>
    </f:then>
    <f:else>
        <span class="workspace-state-{item.state}">{fieldValue}</span>
    </f:else>
</f:if>
