{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace xm=Xima\XimaTypo3Recordlist\ViewHelpers}

<f:if condition="{item.{colConfig.columnName}}">
    <f:if condition="{item.{colConfig.columnName}.properties.type} == '2'">
        <xm:link.editRecord
            returnUrl="{f:be.uri(route: moduleName)}" table="{table}" uid="{item.uid}" workspaceId="{workspaceId}">
            <be:thumbnail image="{item.{colConfig.columnName}}" width="50" height="50" />
        </xm:link.editRecord>
    </f:if>
    <f:if condition="{item.{colConfig.columnName}.properties.type} != '2'">
        <core:iconForResource resource="{item.{colConfig.columnName}}" />
        <f:link.file file="{item.{colConfig.columnName}}" target="_blank">{item.{colConfig.columnName}.name}</f:link.file>
    </f:if>
</f:if>
