{namespace xm=Xima\XimaTypo3Recordlist\ViewHelpers}

<f:if condition="{colConfig.icon}">
    <core:iconForRecord table="{table}" row="{item}" />
</f:if>
<f:if condition="{item.editable}">
    <f:then>
        <xm:link.editRecord
            returnUrl="{f:be.uri(route: moduleName)}" table="{table}" uid="{item.uid}" workspaceId="{workspaceId}">
            <span class="workspace-state-{item.state}">{item.{colConfig.columnName} -> f:format.stripTags() -> f:format.crop(maxCharacters: 255)}</span>
        </xm:link.editRecord>
    </f:then>
    <f:else>
        <span class="workspace-state-{item.state}">{item.{colConfig.columnName} -> f:format.stripTags() -> f:format.crop(maxCharacters: 255)}</span>
    </f:else>
</f:if>
