<f:be.pageRenderer includeJavaScriptModules="{0: '@xima/recordlist/recordlist-action-changelog.js'}" />

<f:if condition="{item.t3ver_wsid} > 0">
    <a
        href="#"
        class="btn btn-default"
        data-action-group="workspace"
        aria-label="{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.changelog')}"
        title="{f:if(condition: tableConfiguration.enableActionGroups, then: '{f:translate(key:\'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.changelog\')}')}"
        data-bs-toggle="{f:if(condition: tableConfiguration.enableActionGroups, then: 'tooltip')}"
        data-action="changes">
        <core:icon identifier="actions-info" size="small" />
        <f:if condition="!{tableConfiguration.enableActionGroups}">
            <span class="recordlist-action-label">{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.changelog')}</span>
        </f:if>
    </a>
</f:if>
