{namespace xm=Xima\XimaTypo3Recordlist\ViewHelpers}

<f:if condition="{isWorkspaceAdmin}">
    <f:if condition="{item.t3ver_oid}">
        <xm:link.editRecord
            title="{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.editOriginal')}"
            uid="{item.t3ver_oid}"
            table="{table}"
            returnUrl="{f:be.uri(route: moduleName)}"
            class="btn btn-default"
            data="{bs-toggle: 'tooltip'}">
            <core:icon identifier="actions-open" size="small" />
            {f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.original')}
        </xm:link.editRecord>
    </f:if>
</f:if>
