{namespace xm=Xima\XimaTypo3Recordlist\ViewHelpers}

<f:if condition="{item.editable}">
    <xm:link.editRecord
        uid="{item.uid}"
        table="{table}"
        returnUrl="{f:be.uri(route: moduleName)}"
        workspaceId="{workspaceId}"
        class="btn btn-default"
        title="{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.edit')}"
        data="{bs-toggle: 'tooltip'}">
        <core:icon identifier="actions-open" size="small" />
    </xm:link.editRecord>
</f:if>
