<f:if condition="{item.t3ver_oid} || {item.t3ver_state} === 1">
    <f:comment>Regular users without publish permission request review from workspace admins</f:comment>
    <f:if condition="!{isWorkspaceAdmin} && {item.t3ver_stage} === 0">
        <div class="btn-group">
            <a href="#" data-workspace-action="readyToPublish" class="btn btn-success">
                <core:icon identifier="actions-share" size="small" />
                {f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.requestReview')}
            </a>
        </div>
    </f:if>
    <f:comment>Admin users send to review (same workflow action but different UI/wording to reflect permissions)</f:comment>
    <f:if condition="{isWorkspaceAdmin} && {item.t3ver_stage} === 0">
        <div class="btn-group">
            <a href="#" data-workspace-action="readyToPublish" class="btn btn-warning">
                <core:icon identifier="actions-share" size="small" />
                {f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.toReview')}
            </a>
        </div>
    </f:if>

    <f:comment>Workspace owners who can bypass review stage to publish directly</f:comment>
    <f:if condition="{canPublishDirectly} && {item.t3ver_stage} === 0">
        <div class="btn-group">
            <a href="#" data-workspace-action="publish" class="btn btn-success">
                <core:icon identifier="actions-check" size="small" />
                {f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.publish')}
            </a>
        </div>
    </f:if>
</f:if>
