<f:be.pageRenderer includeJavaScriptModules="{0: '@xima/recordlist/recordlist-action-delete.js'}" />

<f:variable name="label">LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.delete</f:variable>
<f:if condition="{item.t3ver_wsid}">
    <f:variable name="label">LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.revert</f:variable>
</f:if>

<f:if condition="({item.t3ver_oid} || {item.state} === 'children-modified') && {item.editable}">
    <a
        href="#"
        class="btn btn-danger"
        data-action-group="workspace"
        aria-label="{f:translate(key:label)}"
        title="{f:if(condition: tableConfiguration.enableActionGroups, then: '{f:translate(key:label)}')}"
        data-bs-toggle="{f:if(condition: tableConfiguration.enableActionGroups, then: 'tooltip')}"
        data-workspace-action="remove"
        data-typo3-version="{typo3version}">
        <core:icon identifier="actions-undo" size="small" />
        <f:if condition="!{tableConfiguration.enableActionGroups}">
            <span class="recordlist-action-label">{f:translate(key:label)}</span>
        </f:if>
    </a>
</f:if>
