<f:be.pageRenderer includeJavaScriptModules="{0: '@xima/recordlist/recordlist-action-delete.js'}" />

<f:variable name="label">LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.delete</f:variable>
<f:if condition="{item.t3ver_wsid}">
    <f:variable name="label">LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.revert</f:variable>
</f:if>

<f:if condition="{item.t3ver_oid} && {item.editable}">
    <a
        href="#"
        class="btn btn-default"
        title="{f:translate(key:label)}"
        data-bs-toggle="tooltip"
        data-workspace-action="remove"
        data-typo3-version="{typo3version}">
        <core:icon identifier="actions-undo" size="small" />
    </a>
</f:if>

<f:if condition="!{item.t3ver_oid} && {item.editable}">
    <a href="#" class="btn btn-default" title="{f:translate(key:label)}" data-bs-toggle="tooltip" data-delete2>
        <core:icon identifier="actions-delete" size="small" />
    </a>
</f:if>
