<f:for each="{item.possible_translations_deepl}" key="translationUid" as="link">
    <f:for each="{languages}" as="language">
        <f:if condition="{language.uid} > 0 && {language.uid} == {translationUid}">
            <a
                href="{link}"
                class="btn btn-default translate"
                title="{f:translate(key:'LLL:EXT:xima_typo3_recordlist/Resources/Private/Language/locallang.xlf:table.button.translate_deepl')}"
                data-bs-toggle="tooltip">
                <core:icon identifier="{language.flagIcon}" overlay="deepl-grey-logo" size="small" />
            </a>
        </f:if>
    </f:for>
</f:for>
