.text-inline-edit button {
    visibility: hidden;
}

.text-inline-edit.changed button {
    visibility: visible;
}

.text-inline-edit {
    display: grid;
    grid-template-columns: auto min-content min-content;
    align-items: center;
    gap: 3px;
}

.text-inline-edit .inline-edit:hover {
    outline: Highlight auto 1px;
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 5px;
}

span.inline-edit {
    margin-right: 5px;
}

span.inline-edit:focus-within {
    outline-offset: 5px;
    background-color: #FFF;
    box-shadow: 0 0 0 4px #FFF;
}

.recordlist #nprogress {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    padding: 0;
    overflow: hidden;
}

.table > tbody > tr:not([data-sys_language_uid="0"]) td.col-icon[data-language-indent="1"] {
    padding-left: 20px; /* 4px default + 16px language indent */
}

main.recordlist ul.pagination input.form-control {
    min-width: unset;
}

.category-badge {
    font-weight: normal;
    display: inline-flex;
    line-height: 1.4;
    gap: 4px;
}

.category-badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.recordlist table.table tr[data-state="new"]:not(.active) td {
    background-color: color-mix(in srgb, var(--typo3-badge-success-bg) 15%, transparent) !important;
}

.recordlist table.table tr[data-state="modified"]:not(.active) td {
    background-color: color-mix(in srgb, var(--typo3-badge-warning-bg) 15%, transparent) !important;
}

.recordlist table.table tr[data-state="deleted"]:not(.active) td {
    background-color: color-mix(in srgb, var(--typo3-badge-danger-bg) 15%, transparent) !important;
}

.recordlist table .dropdown-static {
    position: relative;
}

.recordlist table .dropdown-static .dropdown-menu {
    top: 24px;
}

/**
* Filter
*/

#filterInputs .card-footer {
    border-top: 1px solid var(--typo3-card-border-color);
}

@media (min-width: 1400px) {
    #filterInputs .col-xxl-6 .row {
        max-width: 90%;
    }
}
