.text-inline-edit button {
    visibility: hidden;
}

.text-inline-edit.changed button {
    visibility: visible;
}

.text-inline-edit {
    display: grid;
    grid-template-columns: auto min-content min-content;
    align-items: center;
    gap: 3px;
}

span.inline-edit {
    margin-right: 5px;
}

span.inline-edit:focus-within {
    outline-offset: 5px;
}

.recordlist #nprogress {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    padding: 0;
    overflow: hidden;
}

.table > tbody > tr:not([data-sys_language_uid="0"]) td[data-language-indent="1"] > *:first-child {
    margin-left: 16px;
}

main.recordlist ul.pagination input.form-control {
    min-width: unset;
}

.category-badge {
    font-weight: normal;
    display: inline-flex;
    line-height: 1.4;
    gap: 4px;
}

.category-badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.recordlist table.table tr[data-state="new"]:not(.active) td {
    background-color: color-mix(in srgb, var(--typo3-badge-success-bg) 15%, transparent) !important;
}

.recordlist table.table tr[data-state="modified"]:not(.active) td {
    background-color: color-mix(in srgb, var(--typo3-badge-warning-bg) 15%, transparent) !important;
}

.recordlist table.table tr[data-state="deleted"]:not(.active) td {
    background-color: color-mix(in srgb, var(--typo3-badge-danger-bg) 15%, transparent) !important;
}

.recordlist table .dropdown-static {
    position: relative;
}

.recordlist table .dropdown-static .dropdown-menu {
    top: 24px;
}
