---
name: Static Code Analysis

"on":
  push:
    branches:
      - master
      - 'renovate/**'
  pull_request:
    branches:
      - master

jobs:
  sca:
    name: SCA
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Setup DDEV
      - name: Setup DDEV
        uses: ddev/github-action-setup-ddev@v1
        with:
          autostart: false

      # Cache composer dependencies
      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.json') }}
          restore-keys: |
            composer-

      # Install dependencies
      - name: Install Composer dependencies
        run: |
          ddev start
          ddev composer config \
            github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}
          ddev composer install

      - name: Run static code analysis
        run: ddev composer ci:sca

      - name: Annotate PHP CS Fixer
        uses: staabm/annotate-pull-request-from-checkstyle-action@v1
        with:
          files: php-cs-fixer.xml
          notices-as-warnings: true

      - name: Annotate PHPStan
        uses: staabm/annotate-pull-request-from-checkstyle-action@v1
        with:
          files: phpstan.xml
          notices-as-warnings: true
